.footer {
    background-color: #f7f7f7;
    z-index: 999;
      margin: 0;
    bottom: 0;
  
}

.footer > p {
    padding: 5px;
    font-size: 14px;
}

.footer__container {
    z-index: 9999;
}

.my-name {
    font-size: 1.5rem;
    color: #ff7779;
}

.link {
     text-decoration: none;
}

