.home-detail-map__container {
    width: 45rem;
    height: 40rem;
    margin-top: 3rem;
    position: relative;
    border-radius: 2rem;
      box-shadow: 1px 0 4px rgba(0,2,4,.055), 0 4px 10px rgba(1,1,1,.5);
}