.reservation_container {
    display: flex;
  align-items: flex-start;
  justify-content: space-around;
     border-radius: 2rem;
     grid-column: 3 / 4;
    height: 20rem;
    width: 20rem;
    position: sticky;
    margin-top: 2rem;
    margin-left: 10rem;
    border: 1px solid lightgray;
    padding: 25px;
    padding-bottom: 2rem;
    /* box-shadow: 0.3rem 0.3rem #888888; */
    box-shadow: 1px 0 4px rgba(0,2,4,.055), 0 4px 10px rgba(1,1,1,.5);
}


