.profile-main {
   background-color: white;
   display: grid;
   grid-template-columns: minmax(0, 1fr) 85rem minmax(0, 1fr);  
   height: 100%;
   

}

.user-profile__container {
   width: 100%;
   margin: 0, auto;
   background-color: #fff;
   grid-column: 2 / span 1;
   width: 85rem;
   
}


.profile-picture__container {
    background: url(./images/background-main.jpg) center center;
    background-size: cover;
    position: relative;
    height: 30rem;
    width: 100%;
     border-radius: 10rem;
         box-shadow: 1px 0 4px rgba(0,2,4,.055), 0 4px 10px rgba(1,1,1,.5);
}

.profile-picture {
    height: 20rem;
    border-radius: 50%;
    z-index: 99;
    margin-left: 40%;
    margin-top: 10%;
       box-shadow: 1px 0 4px rgba(0,2,4,.055), 0 4px 15px rgba(1,1,1,.5);

}

.homes__container {
   display: flex;
   justify-content: start;
   flex-wrap: wrap;
   overflow: hidden;


}

.reservation-header {
    text-decoration: underline;
}

.no-homes {
   padding-left:20%;
   padding-top: 5%;
   
}

.no-homes > h1 {
     color:#ff7779;
}

/* .homes__container {
///
} */